<!doctype html>
<html>
  {% include "head"%}
  <body>
    {% include "nav"%}
    <article>
      <h1>{{ title }}</h1>
      <div class="post-meta">
        <div class="post-tags"></div>
        <span class="post-date">{{ date }}</span>
      </div>
      <script>
        const tags = "{{ tags }}".split(",").map(t => t.trim());
        const container = document.querySelector(".post-tags");
        container.innerHTML = tags.map(t => `<span class="topic">${t}</span>`).join(" ");
      </script>
      {{ Content }}
    </article>
    {% include "page-nav"%}
  </body>
</html>